{% load static %}
{% load get_software_data %}
{% softwares as softwares %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

        {% if title %}
            <title>MingLab - {{title}} </title>
        {% else %}
            <title>MingLab</title>
        {% endif %}
    </head>
    <body>
        <div class="m-5">
            <div class="row">
                <div class="col-md-3">
                    <nav class="navbar bg-light rounded-lg sticky-top" >

                      <!-- Links -->
                      <ul class="navbar-nav">
                        <a class="navbar-brand" href="#"><img class="col-md-12 rounded-circle" src="{% static 'images/profile_pic.jpg' %}" alt="Logo"/></a>
                        <li><div class="text-center">Ming Hu Lab</div></li>
                        <li><div class="text-center text-secondary">Cleveland Clinic</div></li>
                        <li><div class="text-center text-secondary">Lerner Research Institute</div></li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'minglab-home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'minglab-research' %}">Research</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" href="{% url 'minglab-software' %}"">
                            Software
                          </a>
                           <div class="collapse navbar-collapse">
                            <ol>
                            {% for software in softwares %}
                            <a class="nav-link" href="{% url 'minglab-software' %}#{{ software }}">&emsp;<li>{{ software }}</li></a>
                            {% endfor %}
                            </ol>
                           </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'minglab-publications' %}">Publications</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'minglab-people' %}">People</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'minglab-contact' %}">Contact</a>
                        </li>
                        <div class="row">
                            <div class="col-sm-2">
                            <a class="navbar-brand" href="https://scholar.google.com/citations?user=Wf7bdaEAAAAJ&hl=en&oi=ao"><img class="rounded-circle" src="{% static 'images/google_scholar.png' %}" alt="Logo" height="40"/></a>
                            </div>
                            &emsp;
                            <div class="col-sm-2">
                            <a class="navbar-brand" href="https://www.linkedin.com/in/ming-hu-103a081b"><img class="rounded-circle" src="{% static 'images/linkedin.png' %}" alt="Logo" height="40"/></a>
                            </div>
                        </div>
                      </ul>
                    </nav>
                </div>
                    <div class="col-md-9">
                        <div class="jumbotron" style="background: url({% static 'images/banner_background.jpg' %}) no-repeat center center; -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -o-background-size: 100% 100%; background-size: 100% 100%;">
                        <div class="text-center"><h1>Ming Hu Lab</h1></div>
                        <div class="text-center text-secondary"><h1>Bioinformatics & Statistical Genetics</h1></div>
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>        
    </body>
</html>
