{% extends "minglab/base.html" %}
{% block content %}
<div class="container m-5">
<b>E-mail:</b>
I'm available for inquiries through e-mail: <a href="mailto:afhuming@gmail.com">afhuming@gmail.com</a>.
</div>
<div class="container m-5">
<b>Address:</b>
<div class="row">
	<div class="col-m-4 m-2">
		<div>
			Department of Quantitative Health Sciences</br>
			Lerner Research Institute</br>
			NE5-262</br>
			Cleveland Clinic Foundation</br>
			9500 Euclid Avenue</br>
			Cleveland, OH 44195</br>
		</div>
		<div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2988.184013320251!2d-81.62147568479614!3d41.50028699695181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830fb9bfa041a27%3A0xb28fee592039b7aa!2sCleveland+Clinic+-+Lerner+Research+Institute!5e0!3m2!1sen!2sus!4v1553374731600" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-m-4 m-2">
		<b>Tel:</b>&nbsp;216-445-5057</br>
		<b>Fax:</b>&nbsp;216-445-2781
	</div>
</div></br>
</div>
{% endblock %}