{% extends "labapp/base.html" %}
{% block content %}
{% for software in software_info %}
	{% if not forloop.counter|divisibleby:2%}
		<div class="row">
	{% endif %}
		<div class="col-sm-5">
			<div class="card" id="{{ software.software_name }}">
				<div class="card-header"><a href="{{ software.webpage }}"><b>{{ software.software_name }}</b></a></div>
				<div class="card-body">{{ software.description }}</div>
			</div>
		</div>
	{% if forloop.counter|divisibleby:2%}
		</div></br>
	{% endif %}
{% endfor %}	
{% endblock %}
